# ================================
# Python
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
*.dist-info/

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# Environment / Secrets
# ================================
.env
.venv/
venv/
ENV/
env/
myvenv/
.venv/
venv/

# ================================
# OS / Editor
# ================================
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/